.index-html {
    color: black; 
    font-family: Poppins;
    font-size: 2rem;
    margin: 0;
}

.row {
    display: flex;
    align-items: center;
    gap: 10px; 
    justify-content: center; 
    padding: 20px 0; 
}

.header-line {
    border: 0; 
    height: 3px; 
    background-color: #eee; 
    margin: 0; 
}

.header2-line {
    border: 0; 
    height: 3px; 
    background-color: #eee; 
    margin: 120px; 
}

.section1-html {
    text-align: center;
    font-family: Poppins;
    font-size: 3rem;
    padding-top: 120px;
    background: linear-gradient(blue, #12b0c5, rgb(0, 217, 255)); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
}
.section2-html {
    text-align: center;
    font-family: Poppins;
    font-size: 3rem;
    padding-top: 0px;
    background: linear-gradient(rgb(195, 0, 255), #a200ff, rgb(17, 0, 255)); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
}
.section3-html {
    text-align: center;
    font-family: Poppins;
    font-size: 2rem;
    padding-top: 0px;
    background: linear-gradient(rgb(0, 26, 255), #006eff, rgb(0, 225, 255)); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
}
.des1-html {
    background: linear-gradient(rgb(0, 0, 0), #000000, rgb(0, 13, 15)); 
    text-align: center;
    font-family: Poppins;
    font-size: 1.2rem;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    padding: 0 10%; 
}

.gradient-button {
    font-family: Poppins;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white; 
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    transition: all 0.5s ease-in-out; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: block;
    width: 100px; 
    margin: 20px auto; 
}
.gradient-button:hover {
    background: linear-gradient(to right, #2575fc, #6a11cb);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}
.gradient-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.circle-text {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(45deg, #6a11cb, #2575fc); 
  display: block;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}